body {
    font-family: Arial, sans-serif;
    background-color: #F3DFC1;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

h1 {
    color: #160F29;  
    font-size: 2s4px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #368F8B;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #246A73;  
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F3DFC1;  
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #95B7A6;  
}

li.completed {
    text-decoration: line-through;
    color: #DDBEA8;  
}